body {
  background-color: gray;
}

.simonBoard {
  margin: 0 auto;
  margin-top: 50px;
  border: 10px solid black;
  width: 600px;
  height: 600px;
  border-radius: 600px;
}

.button {
  margin: 0;
  float: left;
  position: relative;
  width: 290px;
  height: 290px;
  z-index: 8;
  border: 5px solid black;
}

.green {
  background-color: #00FF00;
  border-radius: 300px 0 0 0;
}

.green-active {
  background-color: white;
}

.red {
  background-color: #FF00FF;
  border-radius: 0 300px 0 0;
}

.red-active {
  background-color: white;
}

.yellow{
  background-color: yellow;
  border-radius: 0 0 0 300px;
}

.yellow-active {
  background-color: white;
}

.blue {
  background-color: #00FFFF;
  border-radius: 0 0 300px 0;
}

.blue-active {
  background-color: white;
}

.controls {
  border: 10px solid black;
  height: 245px;
  width: 245px;
  border-radius: 150px;
  background-color: white;
  position: absolute;
  z-index: 10;
  margin-top: 160px;
  margin-left: 160px;
}

.start {
  color: black;
  font-size: 24px;
  background-color: red;
  text-align: center;
  border: 3px solid black;
  border-radius: 30px;
  padding: 10px;
  margin-left: 30px;
  width: 55px;
  height: 55px;
  line-height: 55px;
}

.logo{
  color: black;
  font-family: 'Notable', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.level {
  color: white;
  font-size: 24px;
  background-color: black;
  text-align: center;
  border: 3px solid grey;
  border-radius: 30px;
  padding: 10px;
  margin-left: 125px;
  width: 55px;
  height: 55px;
  line-height: 55px;
}

.inline {
  display: inline-block;
  align: center;
}

footer {
  font-family: 'Notable', sans-serif;
  font-size: 15px;
  text-align: center;
  color: black;
  margin-top: 10px;
}

a {
  color: black;
}
